.layout.horizontal,
.layout.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout.inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.layout.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.layout.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.layout.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.layout.center,
.layout.center-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout.center-justified,
.layout.center-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 0.000000001px;
      flex-basis: 0.000000001px;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.layout.horizontal-reverse,
.layout.vertical-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout.horizontal-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.layout.vertical-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.layout.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

/**
       * Alignment in cross axis.
       */
.layout.start {
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
}

.layout.center,
.layout.center-center {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.layout.end {
  -ms-flex-align: end;
  -webkit-box-align: end;
          align-items: flex-end;
}

.layout.baseline {
  -ms-flex-align: baseline;
  -webkit-box-align: baseline;
          align-items: baseline;
}

/**
       * Alignment in main axis.
       */
.layout.start-justified {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.layout.center-justified,
.layout.center-center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.layout.end-justified {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.layout.around-justified {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.layout.justified {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

/**
       * Self alignment.
       */
.self-start {
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.self-center {
  -ms-align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.self-end {
  -ms-align-self: flex-end;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.self-stretch {
  -ms-align-self: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.self-baseline {
  -ms-align-self: baseline;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

/**
       * multi-line alignment in main axis.
       */
.layout.start-aligned {
  -ms-flex-line-pack: start;
  /* IE10 */
  -ms-align-content: flex-start;
  align-content: flex-start;
}

.layout.end-aligned {
  -ms-flex-line-pack: end;
  /* IE10 */
  -ms-align-content: flex-end;
  align-content: flex-end;
}

.layout.center-aligned {
  -ms-flex-line-pack: center;
  /* IE10 */
  -ms-align-content: center;
  align-content: center;
}

.layout.between-aligned {
  -ms-flex-line-pack: justify;
  /* IE10 */
  -ms-align-content: space-between;
  align-content: space-between;
}

.layout.around-aligned {
  -ms-flex-line-pack: distribute;
  /* IE10 */
  -ms-align-content: space-around;
  align-content: space-around;
}

.flex,
.flex-1 {
  -ms-flex: 1 1 0.000000001px;
  -webkit-box-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 0.000000001px;
      flex-basis: 0.000000001px;
}

.flex-2 {
  -ms-flex: 2;
  -webkit-box-flex: 2;
          flex: 2;
}

.flex-3 {
  -ms-flex: 3;
  -webkit-box-flex: 3;
          flex: 3;
}

.flex-4 {
  -ms-flex: 4;
  -webkit-box-flex: 4;
          flex: 4;
}

.flex-5 {
  -ms-flex: 5;
  -webkit-box-flex: 5;
          flex: 5;
}

.flex-6 {
  -ms-flex: 6;
  -webkit-box-flex: 6;
          flex: 6;
}

.flex-7 {
  -ms-flex: 7;
  -webkit-box-flex: 7;
          flex: 7;
}

.flex-8 {
  -ms-flex: 8;
  -webkit-box-flex: 8;
          flex: 8;
}

.flex-9 {
  -ms-flex: 9;
  -webkit-box-flex: 9;
          flex: 9;
}

.flex-10 {
  -ms-flex: 10;
  -webkit-box-flex: 10;
          flex: 10;
}

.flex-11 {
  -ms-flex: 11;
  -webkit-box-flex: 11;
          flex: 11;
}

.flex-12 {
  -ms-flex: 12;
  -webkit-box-flex: 12;
          flex: 12;
}
/*# sourceMappingURL=workbench.flexes.92168tes769459634585646vb6894.css.map */